.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}
.w_input{
    padding: 10px;
    border-radius: 10px;
}
.h_input{
    padding: 10px;
    border-radius: 10px;
}
.r_input{
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
}
.c_input{
    padding: 10px;
    border-radius: 10px;
}
.cilik_button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: green;
    margin-top: 20px;
    color: aliceblue;
    font-size: 18px;
}